<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullcrum.dao.BillDao">
	<resultMap type="com.fullcrum.model.sys.BillEntity" id="billMap">
		<id column="billId" property="billId" />
		<result column="billNumber" property="billNumber"/>
		<result column="billType" property="billType"/>
		<!-- 兑换方 -->
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="billMapAll">
		<id column="billId" property="billId" />
		<result column="billNumber" property="billNumber"/>
		<result column="billType" property="billType"/>
		<!-- 兑换方 -->
		
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
		<result column="remain_days" property="remain_days"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="allBills">
		<id column="billId" property="billId" />
		<result column="billNumber" property="billNumber"/>
		<result column="billType" property="billType"/>
		<!-- 兑换方 -->
		
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="billFilter">
		<id column="billId" property="billId"/>
		<result column="billNumber" property="billNumber" />
		<result column="billType" property="billType"/>
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="remain_days" property="remain_days"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
		<result column="countNumber" property="countNumber" />
		<result column="quoteStatus" property="quoteStatus"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="billAboutQuote">
		<result column="billNumber" property="billNumber"/>
		<result column="billType" property="billType"/>
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="billstatus" property="billstatus"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="remain_days" property="remain_days"/>
		<result column="quotesattus" property="quotesattus"/>
		<result column="quoteId" property="quoteId" />
		<result column="quoteAmount" property="quoteAmount"/>
		<result column="quoterId" property="quoterId"/>
		<result column="interest" property="interest"/>
		<result column="xPerLakh" property="xPerLakh"/>
		<result column="quoteDate" property="quoteDate"/>
		<result column="transacId" property="transacId"/>
		<result column="transacType" property="transacType"/>
		<result column="buyerId" property="buyerId"/>
		<result column="sellerId" property="sellerId"/>
		<result column="transacStatus" property="transacStatus"/>
		<result column="transacDate" property="transacDate"/>
		<result column="contactsName" property="contactsName"/>
		<result column="contactsId" property="contactsId"/>
		<result column="contactsPhone" property="contactsPhone"/>
		<result column="contactsQQ" property="contactsQQ"/>
		<result column="companyPicId" property="companyPicId"/>
		<result column="companyName" property="companyName"/>
		<result column="real_money" property="real_money"/>
	</resultMap>
	
		<resultMap type="java.util.Map" id="QuoteIntention">
		<!--<result column="billNumber" property="billNumber"/>
		<result column="quoteId" property="quoteId"/>
		<result column="quoteAmount" property="quoteAmount"/>
		<result column="quoterId" property="quoterId"/>
		<result column="interest" property="interest"/>
		<result column="xPerLakh" property="xPerLakh"/>
		<result column="quoteDate" property="quoteDate"/>
		<result column="quoteStatus" property="quoteStatus"/>
		<result column="billType" property="billType"/>
		<result column="amount" property="amount"/>
		<result column="billId" property="billId"/>
		<result column="acceptor" property="acceptor"/>
		<result column="maturity" property="maturity"/>
		<result column="remain_days" property="remain_days"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>	
		<result column="billReferer" property="billReferer"/>
		<result column="intentionStatus" property="intentionStatus"/>
		<result column="contactsId" property="contactsId"/>
		<result column="companyName" property="companyName"/>
		<result column="contactsName" property="contactsName"/>
		<result column="contactsPhone" property="contactsPhone"/>
		<result column="contactsQQ" property="contactsQQ"/>
		<result column="real_money" property="real_money"/>-->
	</resultMap>

	<resultMap type="java.util.Map" id="getBillInfo">
		<id column="billId" property="billId"/>
		<result column="billNumber" property="billNumber" />
		<result column="billType" property="billType"/>
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
		<result column="pic1" property="pic1"/>
		<result column="pic2" property="pic2"/>
	</resultMap>
	
	<select id="selectCount" resultType="Integer">
       select count(*) from pengpengpiao.ppp_bill
    </select>

	<select id="getBuyerIntentions" resultMap="QuoteIntention">
		<![CDATA[ select a.transacId,a.transacType,a.billNumber,a.buyerId,a.sellerId,a.amount,a.transacStatus,a.transacDate,a.intentionStatus,unix_timestamp(a.updateTimeStamp) as updateTimeStamp,b.quoteId,b.quoteAmount,b.quoterId,b.interest,b.xPerLakh,b.real_money,b.quoteDate,c.billType,c.amount,c.billId,c.acceptor,c.maturity,TIMESTAMPDIFF(day,#{jsonObject.curr_time},c.maturity)as remain_days,c.status,c.releaseDate,c.releaserId,c.billPicsId,c.transferable ,c.billReferer,d.* from (select * from pengpengpiao.ppp_transaction where buyerId = #{jsonObject.uuid}  ]]>
		<if test="jsonObject.transaction_filter != null">
			and intentionStatus  in
			<foreach collection="jsonObject.transaction_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[ ) a left join (select * from pengpengpiao.ppp_quote where 1=1   ]]>
		<if test="jsonObject.quote_filter != null">
			and status  in
			<foreach collection="jsonObject.quote_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[ ) b on a.billNumber = b.billNumber left join (select * from pengpengpiao.ppp_bill where 1=1  ]]>
		<if test="jsonObject.bill_filter != null">
			and status in
			<foreach collection="jsonObject.bill_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[  ) c on a.billNumber = c.billNumber  LEFT JOIN(select * from pengpengpiao.ppp_company ) d ON a.sellerId =  d.contactsId ORDER BY a.updateTimeStamp DESC limit #{jsonObject.currentPage},#{jsonObject.pageSize};]]>

	</select>

	<select id="getSellerIntentions" resultMap="QuoteIntention">
		<![CDATA[ select a.transacId,a.transacType,a.billNumber,a.buyerId,a.sellerId,a.amount,a.transacStatus,a.transacDate,a.intentionStatus,unix_timestamp(a.updateTimeStamp) as updateTimeStamp,b.quoteId,b.quoteAmount,b.quoterId,b.interest,b.xPerLakh,b.real_money,b.quoteDate,c.billType,c.amount,c.billId,c.acceptor,c.maturity,TIMESTAMPDIFF(day,#{jsonObject.curr_time},c.maturity)as remain_days,c.status,c.releaseDate,c.releaserId,c.billPicsId,c.transferable ,c.billReferer,d.* from (select * from pengpengpiao.ppp_transaction where sellerId = #{jsonObject.uuid}  ]]>
			<if test="jsonObject.transaction_filter != null">
				 and intentionStatus  in
				<foreach collection="jsonObject.transaction_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[ ) a left join (select * from pengpengpiao.ppp_quote where 1=1   ]]> 
			<if test="jsonObject.quote_filter != null">
				 and status  in
				<foreach collection="jsonObject.quote_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[ ) b on a.billNumber = b.billNumber left join (select * from pengpengpiao.ppp_bill where 1=1  ]]>
			<if test="jsonObject.bill_filter != null">
				and status in
				<foreach collection="jsonObject.bill_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[  ) c on a.billNumber = c.billNumber  LEFT JOIN(select * from pengpengpiao.ppp_company ) d ON a.buyerId =  d.contactsId ORDER BY a.updateTimeStamp DESC limit #{jsonObject.currentPage},#{jsonObject.pageSize};]]>
	
	</select>
	
	<select id="selectByFilter" resultMap="billFilter" >
	<![CDATA[select a.billId,a.billNumber,a.billType,a.acceptor,a.billReferer,a.amount,a.maturity,TIMESTAMPDIFF(day,#{jsonObject.curr_time},a.maturity)as remain_days,a.status,a.releaseDate,a.releaserId,a.billPicsId,a.transferable,a.billReferer,case when b.countNumber is null then 0 else b.countNumber end as count,case when b.status is null then "未报价" else b.status end as quoteStatus from ]]>
		<![CDATA[(select * from pengpengpiao.ppp_bill  ]]>
		<where>
			<![CDATA[1=1 ]]>
			<if test="jsonObject != null">
				<if test="jsonObject.billType !=null">
					<![CDATA[and billType = #{jsonObject.billType} ]]>
				</if>
				<if test="jsonObject.minAmount !=null">
					<![CDATA[and amount >= ${jsonObject.minAmount}]]>
				</if>
				<if test="jsonObject.maxAmount != null">
					<![CDATA[ and amount < ${jsonObject.maxAmount}]]>
				</if>
				<if test="jsonObject.minDate !=null">
					<![CDATA[ and maturity >= #{jsonObject.minDate}]]>
				</if>
				<if test="jsonObject.maxDate != null">
					<![CDATA[ and maturity < #{jsonObject.maxDate}]]>
				</if>
			</if>
			<![CDATA[and 1=1 and status="审核完成" and billReferer='传统渠道')  a  left join  (select billNumber,status, count(*) as countNumber  from pengpengpiao.ppp_quote group by billNumber,status)  b on a.billNumber=b.billNumber  ]]>
			<![CDATA[where b.status = "报价中" or b.status is null order by a.releaseDate desc limit ${jsonObject.starter},${jsonObject.number }]]>
		</where>
		
	</select>
	
	<select id="getCount" resultType="Integer" >
	<![CDATA[select count(*) from ]]>
		<![CDATA[(select * from pengpengpiao.ppp_bill  ]]>
		<where>
			<![CDATA[1=1 ]]>
			<if test="jsonObject != null">
				<if test="jsonObject.billType !=null">
					<![CDATA[and billType = #{jsonObject.billType} ]]>
				</if>
				<if test="jsonObject.minAmount !=null">
					<![CDATA[and amount >= ${jsonObject.minAmount}]]>
				</if>
				<if test="jsonObject.maxAmount != null">
					<![CDATA[ and amount < ${jsonObject.maxAmount}]]>
				</if>
				<if test="jsonObject.minDate !=null">
					<![CDATA[ and maturity >= #{jsonObject.minDate}]]>
				</if>
				<if test="jsonObject.maxDate != null">
					<![CDATA[ and maturity < #{jsonObject.maxDate}]]>
				</if>
			</if>
			<![CDATA[and 1=1 and status="审核完成" and billReferer="传统渠道")  a  left join  (select billNumber,status, count(*) as countNumber  from pengpengpiao.ppp_quote  group by billNumber,status)  b on a.billNumber=b.billNumber where b.status = "报价中" or b.status is null ]]>
		</where>
		
	</select>
	
	
	
	<update id="updateBillByBillNumber">
		<if test="billEntity != null ">
			<![CDATA[update ppp_bill set ]]>
			<if test="billEntity.billType != null ">
				billType = #{billEntity.billType} ,
			</if>
			
			<if test="billEntity.acceptor != null">
				acceptor = #{billEntity.acceptor},
			</if>
			
			<if test="billEntity.amount != null">
				amount = #{billEntity.amount},
			</if>
			<if test="billEntity.maturity != null">
				maturity = #{billEntity.maturity},
			</if>
			<if test="billEntity.status != null">
				status = #{billEntity.status},
			</if>
			<if test="billEntity.releaseDate != null">
				releaseDate  = #{billEntity.releaseDate},
			</if>
			<if test="billEntity.releaserId != null">
				releaserId = #{billEntity.releaserId},
			</if>
			<if test="billEntity.billPicsId != null" >
				billPicsId =#{billEntity.billPicsId}
			</if>
			<if test="billEntity.transferable != null" >
				transferable =#{billEntity.transferable}
			</if>
			<where>
				<if test="billEntity.billNumber != null">
					billNumber = #{billEntity.billNumber}
				</if>
			</where>
		</if>
	</update>
	
	<select id="getSellerALLIntentionsCount" resultType="Integer">
		select count(*) from 
		(select * from pengpengpiao.ppp_transaction where sellerId = #{jsonObject.uuid} ) a 
		left join (select * from pengpengpiao.ppp_quote where quoterId=#{jsonObject.uuid}) b on a.billNumber = b.billNumber
		left join (select * from pengpengpiao.ppp_bill ) c on a.billNumber = c.billNumber  
		left join (select * from pengpengpiao.ppp_company ) d on a.buyerId =  d.contactsId
	</select>
	
	<select id="getSellerIntentionsCount" resultType="Integer">
			<![CDATA[select count(*)  from (select * from pengpengpiao.ppp_transaction where sellerId = #{jsonObject.uuid}  ]]>
			<if test="jsonObject.transaction_filter != null">
				 and intentionStatus  in
				<foreach collection="jsonObject.transaction_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[ ) a left join (select * from pengpengpiao.ppp_quote where 1=1   ]]> 
			<if test="jsonObject.quote_filter != null">
				 and status  in
				<foreach collection="jsonObject.quote_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[ ) b on a.billNumber = b.billNumber left join (select * from pengpengpiao.ppp_bill where 1=1  ]]>
			<if test="jsonObject.bill_filter != null">
				and status in
				<foreach collection="jsonObject.bill_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
		<![CDATA[  ) c on a.billNumber = c.billNumber  LEFT JOIN(select * from pengpengpiao.ppp_company ) d ON a.buyerId =  d.contactsId ;]]>
	
	</select>
	
	<select id="getBuyerALLIntentionsCount" resultType="Integer">
		select count(*) from 
		(select * from pengpengpiao.ppp_transaction where buyerId = #{jsonObject.uuid} ) a 
		left join (select * from pengpengpiao.ppp_quote where quoterId=#{jsonObject.uuid}) b on a.billNumber = b.billNumber
		left join (select * from pengpengpiao.ppp_bill ) c on a.billNumber = c.billNumber 
		left join (select * from pengpengpiao.ppp_company ) d on a.sellerId =  d.contactsId
	</select>
	
	<select id="getBuyerIntentionsCount" resultType="Integer">
		<![CDATA[ select count(*) from (select * from pengpengpiao.ppp_transaction where buyerId = #{jsonObject.uuid}  ]]>
		<if test="jsonObject.transaction_filter != null">
			and intentionStatus  in
			<foreach collection="jsonObject.transaction_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[ ) a left join (select * from pengpengpiao.ppp_quote where 1=1   ]]>
		<if test="jsonObject.quote_filter != null">
			and status  in
			<foreach collection="jsonObject.quote_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[ ) b on a.billNumber = b.billNumber left join (select * from pengpengpiao.ppp_bill where 1=1  ]]>
		<if test="jsonObject.bill_filter != null">
			and status in
			<foreach collection="jsonObject.bill_filter" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<![CDATA[  ) c on a.billNumber = c.billNumber  LEFT JOIN(select * from pengpengpiao.ppp_company ) d ON a.sellerId =  d.contactsId ORDER BY a.updateTimeStamp DESC limit #{jsonObject.currentPage},#{jsonObject.pageSize};]]>
	</select>
	
	<select id="getBillsReceivedQuoteCount" resultType="Integer">
		select count(*) from 
		(SELECT billNumber,billType,acceptor,amount,maturity,`status`,releaseDate,releaserId,billReferer,failReason 
				from ppp_bill WHERE releaserId = #{jsonObject.uuid} AND  billNumber = #{jsonObject.billNumber}) a  
		LEFT JOIN(SELECT billNumber,quoterId,interest,xPerLakh,`status`,quoteDate,quoteReferer,real_money from ppp_quote ) b on a.billNumber = b.billNumber  
		left JOIN ( select * from pengpengpiao.ppp_company ) c on b.quoterId = c.contactsId
	</select>
	
	<select id="getBillsWaitingQuoteCount" resultType="Integer">
		select count(*) from 
		(SELECT billNumber,billType,acceptor,amount,maturity,`status`,releaseDate,releaserId,billReferer,failReason 
				from ppp_bill WHERE releaserId = #{jsonObject.uuid} AND  billNumber = #{jsonObject.billNumber}) a 
		LEFT JOIN(SELECT billNumber,quoterId,interest,xPerLakh,`status`,quoteDate,quoteReferer,real_money from ppp_quote ) b on a.billNumber = b.billNumber
		left JOIN ( select * from pengpengpiao.ppp_company ) c on b.quoterId = c.contactsId
	</select>
	
	<select id="getNotAuditIntentionsCount" resultType="Integer">
		select count(*) from 
			(select * from ppp_bill where `status`='审核中' and billReferer='资源池') a
			left join (select * from ppp_quote where status='ok') b on a.billNumber = b.billNumber
			left join (select * from ppp_company where contactsId=#{jsonObject.uuid}) c on a.releaserId = c.contactsId
	</select>

	<select id="getSellerIntentionsListCount" resultType="Integer">
		select count(*) from
		(select * from pengpengpiao.ppp_transaction where sellerId = #{jsonObject.uuid} and intentionStatus=#{jsonObject.filter_str1} or intentionStatus=#{jsonObject.filter_str2}) a
		left join (select * from pengpengpiao.ppp_quote where status=#{jsonObject.quoteStatus}) b on a.billNumber = b.billNumber
		left join (select * from pengpengpiao.ppp_bill ) c on a.billNumber = c.billNumber
		LEFT JOIN(select * from pengpengpiao.ppp_company ) d ON a.buyerId =  d.contactsId where quoteId is not null
	</select>
	
</mapper>

<!-- billNumber varchar(45) PK 
billType varchar(45) 
acceptor varchar(45) 
amount varchar(45) 
maturity date 
status varchar(45) 
releaseDate date 
releaserId int(11) 
billPicsId int(11)
transferable tinyint -->