<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullcrum.dao.MsgDao" >
	<resultMap type="java.util.Map" id="userMsg">
	<id column="msgId"  property="msgId"/>
	<result column="msgType" property="msgType"/>
	<result column="senderId" property="senderId"/>
	<result column="receiverId" property="receiverId"/>
	<result column="msgContent" property="msgContent"/>
	<result column="flag" property="flag"/>
	<result column="timeStamp" property="timeStamp"/>
	<result column="updateTimeStamp" property="updateTimeStamp"/>
	</resultMap>
</mapper>