<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fullcrum.dao.QuoteDao">
	<resultMap type="com.fullcrum.model.sys.QuoteEntity" id="quoteMap">
		<id column="quoteId" property="quoteId"/>
		<result column="billNumber" property="billNumber"/>
		<result column="quoterId" property="quoterId"/>
		<result column="quoteAmount" property="quoteAmount"/>
		<result column="interest" property="interest"/>
		<result column="xPerLakh" property="xPerLakh"/>
		<result column="status" property="status"/>
		<result column="quoteDate" property="quoteDate"/>
		<result column="real_money" property="real_money"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="myQuote">
		<result column="billNumber" property="billNumber"/>
		<result column="quoteId" property="quoteId"/>
		<result column="quoteAmount" property="quoteAmount"/>
		<result column="quoterId" property="quoterId"/>
		<result column="interest" property="interest"/>
		<result column="xPerLakh" property="xPerLakh"/>
		<result column="quoteDate" property="quoteDate"/>
		<result column="quoteStatus" property="quoteStatus"/>
		<result column="billType" property="billType"/>
		<result column="amount" property="amount"/>
		<result column="billId" property="billId"/>
		<result column="billReferer" property="billReferer"/>
		<result column="quoteReferer" property="quoteReferer"/>
		<result column="acceptor" property="acceptor"/>
		<result column="maturity" property="maturity"/>
		<result column="remain_days" property="remain_days"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="companyName" property="companyName"/>
		<result column="contactsPhone" property="contactsPhone"/>
		<result column="contactsQQ" property="contactsQQ"/>
		<result column="bankAccountName" property="bankAccountName"/>
		<result column="bankName" property="bankName"/>
		<result column="picId" property="picId"/>	
		<result column="contactsId" property="contactsId"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="billInfo">
		<result column="billId" property="billId" />
		<result column="billNumber" property="billNumber"/>
		<result column="billType" property="billType"/>
		<result column="acceptor" property="acceptor"/>
		<result column="amount" property="amount"/>
		<result column="maturity" property="maturity"/>
		<result column="status" property="status"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="releaserId" property="releaserId"/>
		<result column="billPicsId" property="billPicsId"/>
		<result column="transferable" property="transferable"/>
		<result column="billReferer" property="billReferer"/>
		<result column="failReason" property="failReason"/>
		<result column="timeStamp" property="timeStamp"/>
		<result column="interest" property="interest"/>
		<result column="xPerLakh" property="xPerLakh"/>
	</resultMap>
	
	<select id="getAllQuoteCount" resultType="Integer">
		select count(*) from   
		(select * from pengpengpiao.ppp_quote where quoterId = #{jsonObject.uuid} ) b 
		left join (select * from pengpengpiao.ppp_bill ) c on b.billNumber = c.billNumber 
		left join ( select * from pengpengpiao.ppp_company ) a on c.releaserId = a.contactsId
	</select>
	
	<select id="getUnderQuoteCount" resultType="Integer">
		select count(*) from 
		(select * from pengpengpiao.ppp_quote where quoterId = #{jsonObject.uuid} and status='报价中' ) b 
		left join (select * from pengpengpiao.ppp_bill ) c on b.billNumber = c.billNumber
	</select>
	
	<select id="getFailQuoteCount" resultType="Integer">
		select count(*) from 
		(select * from pengpengpiao.ppp_quote where quoterId = #{jsonObject.uuid} and status='报价失效' ) b 
		left join (select * from pengpengpiao.ppp_bill ) c on b.billNumber = c.billNumber
	</select>
</mapper>