<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fullcrum.dao.TransactionDao">
	<resultMap type="java.util.Map" id="transactionMap">
		<id column="transacId" property="transactionId"/>
		<result column="transacType" property="transactionType"/>
		<result column="billNumber" property="billNumber"/>
		<result column="buyerId" property="buyerId"/>
		<result column="sellerId" property="sellerId"/>
		<result column="amount" property="amount"/>
		<result column="transacStatus" property="transactionStatus"/>
		<result column="transacDate" property="transacDate"/>
		<result column="intentionStatus" property="intentionStatus"/>
		<result column="updateTimeStamp" property="updateTimeStamp"/>
		<result column="buyerName" property="buyerName"/>
		<result column="sellerName" property="sellerName"/>
	</resultMap>
	
	<resultMap type="java.util.Map" id="getTransInfo">
		<id column="transacId" property="transactionId"/>
		<result column="transacType" property="transactionType"/>
		<result column="billNumber" property="billNumber"/>
		<result column="buyerId" property="buyerId"/>
		<result column="sellerId" property="sellerId"/>
		<result column="amount" property="amount"/>
		<result column="transacStatus" property="transactionStatus"/>
		<result column="transacDate" property="transacDate"/>
		<result column="pic1" property="pic1"/>
		<result column="pic2" property="pic2"/>
		<result column="buyer_phone" property="buyer_phone"/>
		<result column="seller_phone" property="seller_phone"/>
	</resultMap>

	<resultMap id="countAndStatus" type="java.util.Map">
		<result column="count" property="count"/>
		<result column="intentionStatus" property="intentionStatus"/>
	</resultMap>

	<select id="getCount" resultType="Integer">
		SELECT count(*) from
					(select * from pengpengpiao.ppp_transaction where buyerId is not NULL) a
					LEFT JOIN (SELECT contactsName as buyerName,contactsId from pengpengpiao.ppp_company ) b ON a.buyerId = b.contactsId
					LEFT JOIN (SELECT contactsName as sellerName,contactsId from pengpengpiao.ppp_company ) c ON a.sellerId = c.contactsId
	</select>

	<select id="selectCountByIntentionStatus" resultMap="countAndStatus">
		select count(*) count,intentionStatus from ppp_transaction where 1=1
		<if test="jsonObject.role == 'seller'">
			and sellerId=#{jsonObject.uuid}
		</if>
		<if test="jsonObject.role == 'buyer'">
			and buyerId=#{jsonObject.uuid}
		</if>
		<if test="jsonObject.filter_str != null">
			and intentionStatus  in
			<foreach collection="jsonObject.filter_str" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
		group by intentionStatus;
	</select>
</mapper>